* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 44px;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.search-input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  height: 40px;
  width: 690px;
  font-size: 16px;
  line-height: 24px;
  color: #BFBFBF;
  background-image: url(../assets/icons/home.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
  padding-left: 35px;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
}

.button-primary {
  background-color: #1890FF;
  color: #FFFFFF;
  border: 1px solid #1890ff;
  margin-right: 10px;
}

.button-icon {
  margin-right: 6px;
}

.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url(../assets/images/promo-image.png) no-repeat top right -200px;
  border-radius: 10px;
  padding: 68px 70px;
}

.promo-text {
  max-width: 500px;
}