* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 44px;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* INPUTS */
.input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: left 11px center;
  padding-left: 35px;
  color: #bfbfbf;
}

.input-address {
  width: 690px;
  background-image: url(../assets/icons/home.svg);
}

.input-search {
  width: 300px;
  background-image: url(../assets/icons/input-search.svg);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
}

.button-primary {
  background-color: #1890ff;
  color: #ffffff;
  border: 1px solid #1890ff;
  margin-right: 10px;
}

.button-icon {
  margin-right: 6px;
}

/* PROMO */
.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #fff1b8 url(../assets/images/promo-image.png) no-repeat top 50px
    right -100px / 800px;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 56px;
}

.promo-title {
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302c34;
}

.promo-text {
  max-width: 500px;
  font-size: 24px;
  line-height: 28px;
  color: #302c34;
  margin-top: 15px;
}

/* RESTAURANTS */
.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
}

.card-image {
  width: 384px;
  height: 250px;
  object-fit: cover;
}

.card-text {
  padding: 20px 35px 23px 23px;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.card-tag {
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px;
}

.card-info {
  display: flex;
  align-items: center;
}

.rating {
  margin-right: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffc107;
}

.price,
.category {
  font-size: 18px;
  line-height: 32px;
  color: #8c8c8c;
}

.price {
  margin-right: 10px;
}

.price:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  color: #8c8c8c;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
